body{
  margin: 0;
  text-align: center;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}
.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 150px;
}
.middle{
  width: 200px;
  height: 200px;
  background-color: red;
}
.bottom{
  width: 200px;
  height: 200px;
  background-color: blue;
}
.cloud-bottom{
  position: absolute;
  top: 250px

}
.cloud-top{
  position: absolute;
  right: 350px;
  top: 100px
}
